
/* --------------------------------------------------

Reset

*/

*,*::before,*::after { box-sizing: border-box; }

body
{
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
	background: 100% / 0.3rem 0.3rem radial-gradient( hsla( 220 , 20% , 10% , 0.5 ) 15% , transparent 30% ),
	            linear-gradient( -30deg , hsl( 220 , 15% , 15% ) , hsl( 220 , 15% , 30% ) );
	
	color: white;
}

/* --------------------------------------------------

Layout

*/

html { height: 100%; }

body
{
	display: grid;
	min-height: 100%;
}

body > * 
{
	margin: auto;
}

/* --------------------------------------------------

Buttons

*/

button
{
	font: inherit;
	line-height: inherit;
	font-weight: bold;
	
	position: relative;

	border: none;
	border-radius: 0.4rem;

	color: white;
	background: hsl( 220 , 15% , 30% );

	box-shadow: 0 0.3rem 0.2rem hsl( 220 , 15% , 15% ),
	            0 1px 1px hsla( 220 , 50% , 80% , 0.3 ) inset;
	
	transform: translatey( -0.15rem );
	
	transition: all 200ms cubic-bezier( 0.5,3 , 0.8,1 );
}

button:active
{
	box-shadow: 0 0 1px hsl( 220 , 15% , 15% ),
	            0 1px 1px hsla( 220 , 50% , 80% , 0.3 ) inset;

	transform: translatey( 0 );

	transition: none;
}

/* --------------------------------------------------

Text/number inputs

*/

input
{
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	appearance: none;
	text-align: right
}

label
{
	font-size: 0.66em;
}

/* --------------------------------------------------

SVG icons

*/

.svg_icon
{
	width: 0.7em;
	height: 0.7em;
}

/* --------------------------------------------------

Main metronome

*/

.m_metronome
{
	--tick-colour: orangered;
	--tick-flash: orange;

	--tock-colour: limegreen;
	--tock-flash: chartreuse;

	width: 100%;
	max-width: 40em;
	height: 100%;

	display: flex;
	flex-flow: column nowrap;
	
	gap: 0.5rem;
	padding: 0.5rem;
}

.m_metronome > .m_tempo
{
	margin: auto 0;
}

/* Show/hide when playing utility classes */

.m_metronome.is_stopped .m_show_when_playing { display: none; }
.m_metronome.is_playing .m_show_when_playing { display: block; }

.m_metronome.is_stopped .m_hide_when_playing { display: block; }
.m_metronome.is_playing .m_hide_when_playing { display: none; }

/* --------------------------------------------------

Sequencer

*/

.m_sequencer
{

}

.m_sequencer_steps
{
	display: flex;
	flex-flow: row nowrap;

	gap: 0.25rem;
}

.m_sequencer_step
{
	display: block;
	height: 7em;
	flex-grow: 1;
}

.m_sequencer_step[data-type="tick"]
{
	background: var( --tick-colour );
}

.m_sequencer_step[data-type="tock"]
{
	background: var( --tock-colour );
}

/* Flashing animation */

@keyframes tick
{
	from { background: var( --tick-flash ); }
	to { background: var( --tick-colour ); }
}

@keyframes tock
{
	from { background: var( --tock-flash ); }
	to { background: var( --tock-colour ); }
}

.m_sequencer_step[data-type="tick"].is_active
{
	animation-name: tick;
	animation-duration: 300ms;
}

.m_sequencer_step[data-type="tock"].is_active
{
	animation-name: tock;
	animation-duration: 300ms;
}

/* --------------------------------------------------

Beats controls

*/

.m_beats
{
	font-size: calc( 1.25vw + 1.25vh + 1.25rem );
	text-align: center;
}

.m_beats_label
{
	opacity: 0.3;
}

.m_beats_input
{
	width: 1.5em;
}

.m_beats_add_button,
.m_beats_remove_button
{
	padding: 0.3em;
}

/* Get rid of the bottom gap */
.m_beats_add_button > .svg_icon,
.m_beats_remove_button > .svg_icon
{
	display: block;
}

/* --------------------------------------------------

Tempo controls

*/

.m_tempo
{
	font-size: calc( 1.75vw + 1.75vh + 1.75rem );
	text-align: center;
}

.m_tempo_label
{
	opacity: 0.3;
}

.m_tempo_input
{
	width: 2em;
}

.m_tempo_increase_button,
.m_tempo_decrease_button
{
	padding: 0.3em;
}

/* Get rid of the bottom gap */
.m_tempo_increase_button > .svg_icon,
.m_tempo_decrease_button > .svg_icon
{
	display: block;
}

/* --------------------------------------------------

Play/pause button

*/

.m_playpause
{
	text-align: center;
}

.m_playpause_button
{
	width: 100%;
	padding: 0.3em;
	font-size: calc( 3vw + 3vh + 3rem );
}

.m_playpause_button > .svg_icon
{
	display: block;
	margin: 0 auto;
}

/* -------------------------------------------------- */
